@keyframes goToLeft {
    from{}
    to{
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes goToRight {
    from{
        transform: translateX(-100%);
    }
    to{
        display: flex;
        transform: translateX(0);
    }
}
@keyframes opacity {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}