@media screen and (max-width: 600px) {
    .modal-div{
        flex-direction: column;
    }
    .div-img-modal{
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
    }
}